There are several pieces of software you will wish to install before the workshop.
Though installation help will be provided at the workshop, 
we recommend that these tools are installed (or at least downloaded) beforehand.

## SSH

All students should have an SSH client installed.
SSH is a tool that allows us to connect to and use a remote computer as our own.
Please follow the directions below to install an SSH client for your system.

**Windows**

Install MobaXterm from [http://putty.org](http://putty.org).

**macOS or Linux**

Mac and Linux come with SSH clients preinstalled. You do not need to install anything additional.
